<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.memo.model.MemoMapper">
	<select id="getTotalCount" resultType="_int">
	<!--	_int : 기본자료형 int형 alias
			int  : 클래스형 java.lang.Integer 
	
	 -->
		select count(no) from memo
	</select>
	
	<insert id="insertMemo" parameterType="com.memo.model.MemoVO">
		insert into memo(no,name,msg,wdate)
		values(memo_seq.nextval, #{name},#{msg}, sysdate)
	</insert>
	
	<select id="listMemo" resultType="com.memo.model.MemoVO">
		select * from memo order by no desc
	</select>
	
	<delete id="deleteMemo" parameterType="int">
		delete from memo where no=#{value}
	</delete>
	
	<select id="getMemo" resultType="Memo" parameterType="int">
		<!-- alias지정 com.memo.model.MemoVO => Memo로 등록함 -->
		select * from memo where no=#{value}
	</select>
	
	<update id="updateMemo" parameterType="Memo">
		update memo set name=#{name}, msg=#{msg} where no=#{no}
	</update>
</mapper>